{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

      
   <section class="hero details">
      <div class="hero-img img-blur">
         <!-- flashes any messages to the user -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <!-- check if there are any messages -->
      <div class="container-fluid">
         <div class="row mt-3 mb-3">
            <div class="col-md-12">
               {% for message in messages %}
               <!--loop through the messages-->
               <div class="alert alert-info">{{ message }}</div>
               <!--display as alert-->
               {% endfor %}
            </div>
         </div>
      </div>
      {% endif %}
      {% endwith %}
      </div>

      <div class="d-flex justify-content-center align-items-center">

         <div class="card shadow-lg rounded border-0 bg-light col-md-6 col-sm-8 col-10 jumbo event my-5">
            <img class="card-img-top" style="width: 100%; min-height: 200px; max-height: 300px; object-fit: cover;"
               alt="Thumbnail [100%x225]" src="{{event.image}}">
            <div class="card-body text-dark">
               <p class="card-text event-info"><b>{{event.name}}</b></p>
                     <p class="card-text event-info">{{event.speaker}}</p>
                     <p class="card-text event-info">{{event.dateTime}}</p>
                     <p class="card-text event-info">{{event.address}}</p>
               <p class="card-text event-info d-sm-block d-none">{{event.description}}</p>
               <p class="card-text event-info"><b>Tickets remaining: </b>{{event.tickets}}</p>
               <p class="card-text event-info"><b>Price: </b>${{event.price}}</p>
               <div class="row">
                  {% if current_user.is_authenticated %}
                  {{wtf.quick_form(cform,"/details/{0}/comment".format(event.id))}}
                  {% endif %}
                  <div class="col-md-12 col-12 comment-text mb-3">
                      <input id="toggle" type="checkbox" style="visibility:hidden">
                      <div class="card-header border-0 bg-secondary secondary rounded mb-3">
                     <label class ="d-block mb" for="toggle">Comments</label>
                     </div>
                     
                     <div class="box"> 
                        {% if event.comments %}
                        {% for comment in event.comments %}
                        <div class="col-md-12">
                          <b>{{comment.user.name}} <span class="ml-2 text-muted">{{comment.created_at.strftime("%d %B %Y")}}</span></b>
                          <p>{{comment.text}}</p>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-md-12">
                        <p>No comments posted on this event yet</p>
                        </div>
                        {% endif %}
                     </div>
                  </div>
                  {% if current_user.is_authenticated %}
                  <div class=" btn-group-vertical my-auto mx-auto col-md-4 col-12 h-25">
                     <div class="row justify-content-center align-items-center">
                        <div class="m-2">
                           {% if event.status == "Upcoming" %}
                           {{wtf.quick_form(oform,"/details/{0}/order".format(event.id))}}
                           {% endif %}
                           {% if event.status == "Booked" %}
                           <p>Event is booked out</p>
                           {% endif %}
                           {% if event.status == "Cancelled" %}
                           <p>Event is cancelled</p>
                           {% endif %}
                           {% if event.status == "Inactive" %}
                           <p>Event is inactive</p>
                           {% endif %}
                        </div>
                     </div>
                  </div>
                  {% endif %}
               </div>
            </div>
         </div>

      </div>
   </section>
   {% if current_user.is_authenticated %}
   <!-- Browse Section-->
   <section class="browse primary">
      <div class="container-fluid text-center vertical-align-pad ">
         <h1 class="display-6">As a Member Create Events</h1>
         <p class="lead" style="font-size: 1rem;">Create an event with a speaker, topic, image, description and a date for
            other people to view and book.</p>
         <a href="{{url_for('manage.create', id = current_user.id)}}" class="btn btn-dark dark my-2">Create Event</a>
      </div>
   </section>
   {% else %}
   <section class="browse secondary">
      <div class="container text-center vertical-align-pad ">
         <h1 class="display-6">Select From a Wide Range Of Events</h1>
         <p class="lead" style="font-size: 1rem;">Become a member to book tickets, post reviews on your past experiences
            and create your own events for others to attend.</p>
         <a class="btn btn-dark dark my-2" href="{{url_for('auth.login') }}">Login</a>
         <a class="btn btn-light light my-2" href="{{url_for('auth.register') }}">Create Account</a>
      </div>
   </section>
   {% endif %}
{% endblock %}